.data
.env
.env.backup
.phpunit.result.cache
.terraform.tfstate.lock.info
.terraform*
*.tfvars
.editorconfig
.git*
.styleci.yml
Homestead.json
Homestead.yaml
npm-debug.log
production.env
terraform.tfstate
yarn-error.log

node_modules
public/hot
public/storage
storage/tmp/*
storage/app/*
storage/keys/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/media-library/*
bootstrap/cache/*
vendor
.idea
.vscode# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore
infrastracture
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
